*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: #e7e5e4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #a8a29e;
}

.block {
  flex-basis: calc(100% / 16);
  aspect-ratio: 1 / 1;
  background-color: #fff;
  /* border: 1px solid #a8a29e; */
}
